/* this is a custom CSS stylesheet */
.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  text-align: center;
  }

body {
    font-family: "calibri light", sans-serif;
  }

.jumbotron h1 {
  font-family: "Georgia", serif;
}

h1 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}
